<div id="messages">
    <% const msgs = messages || {}; %>
    <% Object.keys(msgs).forEach(function (type) { %>
        <% msgs[type].forEach(function (message) { %>
            <% const alertType = type === 'error' ? 'danger' : type; %>
            <div class="alert alert-<%= alertType %>"><%= message %></div>
        <% }) %>
    <% }) %>
</div>